:root {
  --bg: #11111f;
  --bg2: hsl(240, 29%, 12%);
  --bg3: hsl(240, 29%, 17%);
  --fg: #e0e0e0;
  --e1: #f14257;
  --e2: #f16542;
  --c0: #11111f;
  --c1: #872341;
  --c2: #be3144;
  --c3: #f85423;
  --c4: #faaa68;
  --c5: #f6dcac;
}

* {
  margin: 0;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: auto;
}

a,
a:visited {
  color: var(--fg);
  text-decoration: underline #ccc;
}

a:hover {
  color: var(--e2);
  text-decoration: underline var(--e1);
}

h1 {
  font-size: 3em;
  font-weight: 300;
}

h1 span {
  color: var(--e1);
  font-weight: 400;
}

h1 a {
  transition: all 100ms ease-in-out;
}

h1:hover a:hover {
  color: var(--e2);
  text-decoration: underline var(--e1);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg2);
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  height: 1.6rem;
}

main {
  width: 100%;
  /* screen height, header height, header padding */
  height: calc(100vh - 1.6rem - 2.4rem);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section h2 {
  color: var(--e1);
  text-decoration: underline dotted var(--e2);
}

section#intro {
  /* screen height, header height, header padding section padding */
  min-height: calc(100vh - 1.6rem - 2.4rem - 4.5rem);
  padding: 0.5rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

section#intro div.resourceButtonHolder {
  margin-top: 0.5rem;
}

section#intro p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: -0.25rem;
}

section#intro p:first-of-type {
  margin-top: 0;
}

div.resourceButtonHolder {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a.resourceButton {
  display: flex;
  align-items: center;
  gap: 4px;
  border: var(--fg) 1px solid;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

a.resourceButton:hover {
  color: var(--bg);
  background-color: var(--fg);
  text-decoration: none;
}

a.resourceButton img {
  width: 1.2rem;
  height: 1.2rem;
}

div.projectHolder, div.imageHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: 0.5rem;
}

div.imageHolder img {
  width: 100%;
}

div.project {
  display: flex;
  flex-direction: column;
  background-color: var;
  width: calc(100% - 1rem);
  background-color: var(--bg3);
  padding: 0.5rem;
  gap: 0.125rem;
}

div.project h4 {
  font-size: 1.4rem;
}

.nounderline {
  text-decoration: none;
}

#topLinks {
  transition: all 100ms ease-in-out;
}

div.analyticsHolder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.metric {
  display: flex;
  flex-direction: column;
  background-color: var;
  width: calc(100% - 1rem);
  background-color: var(--bg3);
  padding: 0.5rem;
  gap: 0.125rem;
  max-width: 800px;
  max-height: 200px;
}

div.metricSummary h4 {
  font-size: 1.6rem;
}

div.subMetric {
  display: flex;
}

/*
new Date().toLocaleString([], {
  month: 'short',
	day: '2-digit',
	hour: '2-digit',
	minute: '2-digit',
  hourCycle: 'h23'
})
*/
